/* main font style section*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    margin: 0;
}
/* navigation bar section */
.navigation{
    background-color: #562EFF;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    color: white;
    padding-left: 285px;
}
.links{
    padding-right: 285px;
}
.top-link{
    color: white;
    padding-left: ;
}

/* top playeras style section   */
.main-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.top-word{
    font-size: 24px;
    color: #562EFF;
    margin-top: 0;
    margin-bottom: 32px;
}
.containar{
    width: 870px;
    height: 679px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 33px;

}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 120px;
}
.players{
    display: flex;
    align-items: center;

}
.players-image{
    height: 56px;
    width: 56px;
}
.players-name{
    font-size: 18px;
    margin-left: 16px;
}
hr{
    width: 807px;
    height: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* top blog style section */
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
    grid-column-gap: 72px;
}
.blog-image{
    width: 177px;
    height: 117px;
}
.thumbnal{
    display: flex;
    align-items: center;
}
.blog-link{
    text-decoration: none;
    color: #562EFF;
}
.content{
    margin-left: 24px;
}
.content > p{
    color: rgb(143, 142, 142);
    margin: 6px;
}
.bloge-info{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
/* course style section  */
.course-section{
    width: 870px;
    height: 362px;
    padding: 33px;
    background-color: #FFFFFF;
    margin-top: 21px;
    border-radius: 5px;
}
.course{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.course-image{
    width: 224px;
    height: 104px;
}
.course-link{
    text-decoration: none;
    color: tomato;
}
.spacal{
    color: rgb(255, 200, 60);
}
.course-reating-and-time{
    display: flex;
    justify-content: space-between;
}
.course-item{
    width: 253px;
    height: 270px;
    margin: 11.5px;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 10px rgba(204, 204, 204, 0.336);
}
